.app {
display: flex;
height: 200vh;
}

.sidebar {
/* display: flex; */
/* flex-direction: column; */
width: 100px;
padding: 20px;
font-family: Tahoma, Arial, sans-serif;
background-color: #ffffff;
}

.nous-block img{
  width: 200px;
  height: auto;
  display: block;
}

.nav-item {
font-size: 16px;
margin-bottom: 10px;
cursor: pointer;
}

.indent {
padding-left: 10px;
font-size: 16px;
opacity: 0.85;
}

.nav-item.indent {
display: grid;
grid-template-columns: 20px 1fr;
}

.nav-item.active {
  color: #7a1d1d;
}


.underline {
text-decoration: underline;
}

.content {
flex: 1;
padding: 40px;
}

.calendar-wrapper {
display: flex;
gap: 80px;
align-items: flex-start;
}

.calendar-left {
width: 720px;
max-width: 100%;
}

.calendar-header {
display: grid;
pointer-events: auto;
grid-template-columns: 42px 1fr 42px;
align-items: center;
margin-bottom: 20px;
font-size: 22px;
}

.month-title {
text-align: center;
}

.month-arrow {
border: none;
background: transparent;
cursor: pointer;
font-size: 22px;
line-height: 2;
padding: 0;
}

.calendar-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 1fr); 
  gap: 20px;
  width: 100%;
  max-width: 720px; 
  margin-top: 10px;
}

.calendar-day-label {
  text-align: center;
  font-size: 12px;
  opacity: 0.5;
  padding-bottom: 5px;
}

.calendar-cell {
border: none;
background: transparent;
cursor: pointer;
text-align: center;
padding: 4px 0;
position: relative;
height: 100px;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}

.calendar-cell.dim {
color: #747272;
}

.calendar-cell.today {
  color: #050000;
  font-weight: bold;
}

.calendar-cell.selected .day-num {
text-decoration: underline;
border-radius: 50%
}

.day-num {
line-height: 1;
}


.calendar-right {
width: 260px;
font-family: "Tahoma";
}

.errand-header {
margin-top: 15px;
font-size: 16px;
margin-bottom: 12px;
}

.errand-list {
display: flex;
flex-direction: column;
gap: 6px;
}

.errand-item {
font-size: 14px;
text-orientation: mixed;
line-height: 1;
cursor: pointer;
transition: opacity 0.15s;
}

.add-errand {
margin-top: 0px;
font-size: 14px;
cursor: pointer;
border: none;
background: transparent;
padding: 0;
}

.errand-hint {
font-size: 12px;
opacity: 0.6;
}

.errand-item:hover {
  text-decoration: line-through;
}

.cell-errand {
  font-size: 12px;
  font-family: "Tahoma";
  opacity: 0.6;
  margin-top: 10px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor:grab;
}

.cell-editor {
  width: 100%;
  font-size: 12px;
  font-family: "Tahoma";
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  font: 'Tahoma';
  font-size: 12px;
  inset: 0;
  background: rgba(255, 255, 255, 0.92);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 360px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  font-family: Tahoma, Arial, sans-serif;
}

.modal textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
  margin-bottom: 12px;
}

.modal select,
.modal input[type="date"] {
  width: 100%;
  margin-top: 8px;
  font-size: 12px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.color-picker {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.4;
}

.dot.active {
  opacity: 1;
}

.dot.black {
  background: rgb(7, 7, 7);
}

.dot.red {
  background: #a73d31;
}

.dot.blue {
  background: #2980b9;
}

.repeat-days {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.repeat-days span {
  font-size: 12px;
  cursor: pointer;
  opacity: 0.4;
}

.repeat-days span.active {
  opacity: 1;
  text-decoration: underline;
}

.cell-errand.black {
  color: black;
}

.cell-errand.red {
  color: #a73d31;
}

.cell-errand.blue {
  color: #2980b9;
}


.modal textarea:first-of-type {
  font-weight: 500;
}

.modal textarea:last-of-type {
  font-size: 13px;
  opacity: 0.8;
}


/* ===== 基础：整体长度 ===== */
input[type="range"] {
  width: 100%;              /* 控制长度 */
  background: transparent;  /* 必须，否则自定义样式不生效 */
}

/* =========================
   WebKit (Chrome / Safari)
========================= */

/* 轨道 */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;                 /* 轨道粗细 */
  background: #dbd0d0ff;       /* 轨道颜色 */
  border-radius: 2px;
}

/* 圆球 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;                 /* 圆球宽 */
  height: 14px;                /* 圆球高 */
  background: #333;            /* 圆球颜色 */
  border-radius: 50%;
  margin-top: -5px;            /* 垂直居中关键 */
  cursor: pointer;
}

/* =========================
   Firefox
========================= */

input[type="range"]::-moz-range-track {
  height: 4px;
  background: #dbd0d0ff;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.notes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 20px;
}

.notes-block {
  cursor: pointer;
  text-align: center;
}

.notes-block img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 0px;
}

.notes-title {
  font-size: 14px;
  font-family: "Tahoma";
  opacity: 0.8;
}

.notes-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

.notes-item {
  margin-bottom: 20px;
  text-align: center; 
}

.note-date {
  font-size: 12px;
  opacity: 0.5;
}

.note-content {
  font: "Tahoma";
  white-space: pre-wrap;
}

.notes-item:nth-child(1) {
  margin-top: 20px;
}

.notes-item:nth-child(2) {
  margin-top: 80px;
}

.notes-item:nth-child(3) {
  margin-top: 40px;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0x;
}

.content-cell {
  width: 160px;
  cursor: pointer;
  font: "Tahoma";
}

.content-cell img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.cover-upload {
  width: 50%;
  height: 240px;
  border: 1px dashed rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cover-upload img {
  width: 200%;
  height: 160%;
  object-fit: cover;
}

.cover-placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.content-meta {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.content-meta img {
  width: 160px;      /* 封面宽度 */
  height: 220px;     /* 封面高度 */
  object-fit: cover;
  flex-shrink: 0;
}

.notes-input-wrapper {
  position: relative;
  width: 100%;
}

.notes-input {
  width: 80%;
  min-height: 100px;
  padding: 12px 40px 12px 12px;
  font-family: inherit;
  resize: vertical;
}

.note-add-btn {
  position: absolute;
  right: 150px;
  bottom: 10px;

  width: 28px;
  height: 28px;
  border-radius: 50%;

  border: 1px solid #fefbfb;
  background: rgba(255, 255, 255, 0.113);
  font-size: 18px;
  line-height: 1;
  cursor: pointer;

  opacity: 0.6;
}

.note-add-btn:hover {
  opacity: 1;
}
